.homepage-body {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  color: var(--mainblack);
  padding-bottom: 10rem;
}
.homepage-body__main {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  max-width: max-content;
  /* margin: 7vh 7% 1rem 7%; */
  margin: 5vh 7%;
  gap: 8rem;
  min-height: 80vh;
  min-width: 86%;
  /* background: url("https://cdn.pixabay.com/photo/2017/09/11/15/58/sunset-2739472__340.jpg") */
  /* no-repeat; */
  background-size: cover;

  /* background-color: aqua; */
}
.main-info {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  justify-content: center;
  align-self: flex-start;
  min-width: 15rem;
  gap: 1rem;
  z-index: 0;
  /* background-color: rgba(79, 35, 35, 0.5); */
}
.main-info > p {
  margin: 0.5rem 0;
  z-index: 1;
}
.main-info p:nth-child(1) {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 700;
  /* background-color: rgb(124, 151, 165); */
}
.main-info p:nth-child(1) span:nth-child(1) {
  color: var(--mainblack);
}
.main-info p:nth-child(1) span {
  color: var(--mainorange);
}
.main-info p:nth-child(2) {
  font-size: 1.2rem;
  color: var(--mainblue);
}
.main-info p:nth-child(3) {
  text-align: justify;
}
.social-media {
  position: relative;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  color: var(--mainorange);
}
.homepage-images {
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex: 1;
  min-width: 15rem;
  max-width: 100%;
  z-index: 1;
  justify-self: flex-end;
  /* background-color: aqua; */
}
.image {
  position: relative;
  width: 100%;
  /* transform: scale(0.7); */
  max-width: 20rem;
  /* top: 2rem; */
  /* background-color: yellow; */
}
.emoji {
  position: absolute;
  width: 30%;
  max-width: 9rem;
  border-radius: 2rem;
  z-index: 2;
}
.emoji1 {
  /* left: -2rem; */
  left: 0%;
  top: 10rem;
}
.emoji4 {
  bottom: -5rem;
  left: 3rem;
}
.blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  background-color: rgb(191, 30, 181);
  filter: blur(6rem);
  z-index: -1;
}
.blur2 {
  top: 7rem;
  left: 0;
  background-color: rgb(255, 178, 23);
}
.blur3 {
  top: 30%;
  left: 50%;
  background-color: rgb(249, 47, 124);
}
.blur4 {
  top: 0;
  left: 50%;
  background-color: yellow;
}
.blur5 {
  bottom: -100%;
  left: 20%;
  background-color: rgb(52, 235, 35);
}
.blur6 {
  top: 0;
  right: 0;
}
.blur7 {
  top: 0;
  left: 0;
  /* z-index: 0; */
}
.experiences__section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.experiences__container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  /* background-color: aliceblue; */
  width: 100%;
  max-width: 40rem;
  margin: 1rem;
  z-index: 0;
}
.contact-section {
  position: relative;
  /* background: url("https://cdn.pixabay.com/photo/2016/02/07/21/03/computer-1185626__340.jpg")
    no-repeat; */
  background: url("https://cdn.pixabay.com/photo/2019/08/21/02/57/network-4420048__340.jpg")
    repeat;
  background-size: cover;
  margin: 5rem 0 0 0;
}
.bottom-curve {
  justify-content: flex-end;
  /* position: absolute; */
  bottom: -10rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  /* height: 10rem; */
  color: aliceblue;
  z-index: 0;
  background-color: rgb(64, 120, 120);
}
.bottom-curve img {
  /* position: absolute; */
  width: 100%;
  height: 30rem;
}
.bottom-curve-content {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 1;
  width: 80%;
  max-width: 20rem;
  bottom: 2.5rem;
  /* background-color: blue; */
}
.bottom-curve-content div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* background-color: aqua; */
}
.shapedividers_com-4017 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-4017::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 90px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>');
}

@media (min-width: 768px) {
  .shapedividers_com-4017::before {
    background-size: 100% 90px;
    background-position: 50% 0%;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-4017::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 251px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23ffb223"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23ffb223"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23ffb223"/></svg>');
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-4017::before {
    background-size: 100% calc(2vw + 251px);
  }
}

@media screen and (min-width: 920px) {
  .homepage-body__main {
    min-height: 86vh;
  }
}
@media screen and (max-width: 700px) {
  .main-info p:nth-child(1) {
    font-size: 2.3rem;
  }
  .main-info p:nth-child(2) {
    font-size: 1.1rem;
  }
  .bottom-curve img {
    height: 20rem;
  }
}
@media screen and (max-width: 1000px) {
  .image {
    /* right: -7%; */
  }
}
