.homepage {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-color: #ffffffe3;
  /* background-color: rgb(80, 16, 140); */
}
.body-container {
  max-width: 1250px;
}
@media screen and (min-width: 1200px) {
  .body-container {
    align-self: center;
  }
}
