.my__services {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 5vh 7%;
  gap: 3rem;
  min-height: 82vh;
  z-index: 0;
  padding-top: 5vh;
  /* background-color: yellow; */
}
.my__services-left {
  flex: 1;
  min-width: 10rem;
  align-self: flex-start;
}
.my__services-info {
  color: var(--mainblack) !important;
  font-size: 1rem !important;
}
.my__services-right {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-self: center;

  flex: 1;
  gap: 3rem;
  width: 50rem;
  min-height: 60vh;
  /* background-color: antiquewhite; */
  min-width: 10rem;
}
.service1 {
  position: absolute;
  top: -5rem;
  left: 0;
}
.service2 {
  position: absolute;
  bottom: 0;
  left: 55%;
}
.service3 {
  position: absolute;
  bottom: -5rem;
  left: -5rem;
}

@media screen and (max-width: 930px) {
  .my__services-right {
    justify-content: center;
    min-width: 86%;
  }

  .service1,
  .service2,
  .service3 {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1250px) {
  .my__services-left {
    margin-top: 6vh;
  }
}
